<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Getting Started: Tati's Messenger</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div> Hello, user</div>
<a href="/main">Main Page</a>
</body>
</html>
